.favorites-page {
  background-image: url("/images/vitaly-gariev-g7v8HQkFIyo-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*independent scroll from home page*/
.favorites-page {
  height: 100vh; /* full viewport */
  overflow-y: auto; 
  overscroll-behavior: contain; /* prevent body scroll chaining */
}

.favorites-header {
  text-align: center;
  color: var(--main-color);
  text-shadow: var(--shadow);
  margin: 60px auto 20px;
  font-size: 3rem;
}

.no-favorites-yet {
  text-align: center;
  color: var(--main-color);
  font-size: 2rem;
  text-shadow: var(--shadow);
  margin-top: 25%;
}

.book-results {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.book-results.removing {
  opacity: 0;
  transform: scale(0.95);
}
