/*independent scroll from home page*/
.favorites-page {
  height: 100vh;        /* fill viewport */
  overflow-y: auto;     /* enable scrolling */
  overscroll-behavior: contain; /* prevent body scroll chaining */
}


.favorites-header {
  text-align: center;
  color: var(--main-color);
  text-shadow: var(--shadow);
  margin: 60px auto 20px;
  font-size: 3rem;
}
