.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
    z-index: 1000;
    background-color: var(--overlay);
    color: white;
    opacity: 0;
    /* transform: translateY(200px) scale(1); */
    transition: opacity 0.5s ease-in-out;
    /* transition: transform 0.5s ease, opacity 0.5s ease-in-out; */
    pointer-events: none;
}

.back-to-top.show {
    /* transform: translateY(-50px); */
    opacity: 1;
    border: none;
    pointer-events: auto;
}

.back-to-top.show:hover {
    /* transform: translateY(-50px) scale(1.2); */
    border: 2px solid white;
}

