.site-footer {
  text-align: center;
  font-size: 0.75rem;
  color: rgba(255, 253, 253, 0.712);
  padding: 1rem 0;
  background-color: var(--overlay);
  width: 400px;
  margin: 0 auto;
  border-radius: 4px;
}

.image-credit a {
  color: inherit;
  text-decoration: underline;
}
